albumentations==0.5.2
efficientnet-pytorch==0.6.3
monai==0.4.0
pandas==1.0.0
opencv-python==4.5.1.48
pytorch-lightning==1.4.2
scikit-learn==0.24.0
torch==1.9.0
torchvision==0.10.0
test-tube==0.7.5
timm==0.4.12
torchmetrics==0.5.1
psutil==5.8.0
clearml==1.0.5
h5py==3.3.0
imageio==2.9.0
omegaconf==2.1.1
Pillow==7.0.0
plotly==5.2.2
psutil==5.8.0
pytorch-lightning-bolts==0.2.5